* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.slogan {
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/slogan_bgc.png");
  background-color: #bb2d39;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slogan .header {
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slogan .header--active {
  height: 200px;
}

.slogan .header__title {
  font-size: 26px;
  line-height: 50px;
  margin-left: 10px;
}

.slogan .header__menu {
  display: none;
  z-index: 0;
}

.slogan .header__menu--active {
  display: block;
  height: 150px;
}

.slogan .header__menu .header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.slogan .header__menu .header__list .header__item {
  height: 14.28%;
  list-style: none;
  text-align: center;
}

.slogan .header__menu .header__list .header__item .header__link {
  text-decoration: none;
  font-family: Lato;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

.slogan .header__menu .header__list .header__item .header__link:hover {
  color: orange;
}

.slogan .header__icons-wrapper {
  position: absolute;
  top: calc((50px - 20px)/2);
  right: 10px;
  font-size: 20px;
}

.slogan .header__icons-wrapper .header__icon {
  margin-left: 5px;
}

.slogan__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 70px;
  left: 0;
  text-align: center;
  font-size: 35px;
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/slogan_bgc.png");
  background-color: #fafafa;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slogan__button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  color: black;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  font-family: Lato;
}

.slogan__model-figure {
  position: absolute;
  top: 100px;
  left: 0;
}

.slogan__model-figure .slogan__model-image {
  height: 100%;
  width: 100%;
}

.about-company {
  height: 100vh;
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.about-company__title {
  font-family: "Peace Sans";
  font-weight: 400;
  color: #494949;
  font-size: 28px;
  margin: 10px 0;
}

.about-company__content {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: #6a6a6a;
}

.about-company__button {
  margin: 10px auto;
  padding: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: #bc2e3a;
  font-family: Lato;
}

.about-company__image-figure {
  position: absolute;
}

.about-company__image-figure--laptop {
  bottom: 20px;
  left: 0;
  z-index: 1;
}

.about-company__image-figure--triangle {
  bottom: 0;
  left: 0;
  z-index: 0;
}

.about-company__image-figure .about-company__image {
  height: 100%;
  width: 100%;
}

.about-company__image-figure .about-company__image--triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.company-services {
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.company-services__title {
  font-family: "Peace Sans";
  font-weight: 400;
  color: #494949;
  font-size: 28px;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.company-services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
}

.company-services__wrapper .company-serices__single-service {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  height: 320px;
  overflow: hidden;
}

.company-services__wrapper .company-serices__single-service .company-serices__service-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #bc2e3a;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 28px;
  margin: 15px 0 0 15px;
}

.company-services__wrapper .company-serices__single-service .company-servies__service-title {
  font-family: "Open Sans";
  font-weight: 900;
  color: #6f6f6e;
  font-size: 30px;
  position: absolute;
  top: calc(50px/2);
  left: calc(50px + 15px + 20px);
}

.company-services__wrapper .company-serices__single-service .company-services__service-content {
  font-family: "Open Sans";
  font-size: 17px;
  color: #6a6a6a;
  width: calc(100% - 50px - 15px - 20px);
  margin-left: calc(50px + 15px + 20px);
  margin-bottom: 10px;
}

.company-services__image-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.company-services__image-figure .company-servies__image {
  height: 320px;
  width: 320px;
}

.company-work {
  height: 100vh;
  background-color: white;
  z-index: 1;
  text-align: center;
  position: relative;
}

.company-work__title {
  font-family: "Peace Sans";
  font-weight: 400;
  color: #494949;
  font-size: 28px;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.company-work__content {
  width: 80%;
  margin: 0 auto 10px auto;
  text-align: start;
  color: #6a6a6a;
  font-size: 17px;
}

.company-work__button {
  border: 1px solid black;
}

.company-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin: 30px 0px 0px 0px;
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.company-work__wrapper .company-work__single-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  color: white;
  position: relative;
}

.company-work__wrapper .company-work__single-item--idea {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_1.png");
  margin-left: -25px;
}

.company-work__wrapper .company-work__single-item--design {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_2.png");
}

.company-work__wrapper .company-work__single-item--output {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_3.png");
}

.company-work__wrapper .company-work__single-item .company-work_image-title {
  text-transform: uppercase;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.company-work__wrapper .company-work__single-item .company-work_image-title--idea {
  bottom: 137px;
  left: 6px;
}

.company-work__wrapper .company-work__single-item .company-work__image-content {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  width: 60%;
  font-size: 13px;
  font-family: "Open Sans";
  position: absolute;
  top: 45px;
  left: 28px;
  text-align: start;
}

.company-work__wrapper .company-work__single-item .company-work__image-counter {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  font-size: 25px;
}

.company-work__image-figure {
  position: absolute;
  top: -25%;
  right: -50%;
  z-index: -1;
  height: 150%;
  width: 100%;
}

.company-work__image-figure .company-work__image {
  height: 100%;
  width: 100%;
}

.company-work-team__image-figure {
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: -60px;
  left: -60px;
}

.company-work-team__image-figure .company-work-team__image {
  height: 100%;
  width: 100%;
}

.team {
  height: 100vh;
  background-color: #f5f5f5;
  position: relative;
  z-index: 0;
}

.team__title {
  font-family: "Peace Sans";
  font-weight: 400;
  color: #494949;
  font-size: 28px;
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.team__slider-wrapper {
  height: 400px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.team__slider-wrapper .team__slider__arrow {
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.team__slider-wrapper .team__slider__arrow--left {
  border-top: 30px solid transparent;
  border-right: 35px solid #424240;
  border-bottom: 30px solid transparent;
  left: 10px;
}

.team__slider-wrapper .team__slider__arrow--right {
  border-top: 30px solid transparent;
  border-left: 35px solid #424240;
  border-bottom: 30px solid transparent;
  right: 10px;
}

.team__slider-wrapper .team__slider__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.team__slider-wrapper .team__slider__main .team__slider__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  list-style: none;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__image {
  height: 220px;
  width: 220px;
  margin-left: -10px;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__name-container {
  width: 120px;
  height: 40px;
  color: white;
  line-height: 40px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background-color: black;
  margin: -40px auto 0 auto;
  z-index: -1;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__name-container .team__slider__name {
  font-family: "Open Sans";
  font-size: 22px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__standing-container {
  background-color: #bc2e3a;
  color: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  margin-left: 70px;
  margin-top: -5px;
  overflow: hidden;
  z-index: 0;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__standing-container .team__slider__standing {
  font-size: 12px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.clients {
  height: 100vh;
  background-color: white;
  position: relative;
  z-index: 1;
}

.clients__title {
  font-family: "Peace Sans";
  font-weight: 400;
  color: #494949;
  font-size: 28px;
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.clients__wrapper {
  overflow: hidden;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.clients__wrapper .clients__single-item {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.clients__wrapper .clients__single-item .item__image {
  height: 220px;
  width: 220px;
}

.clients__wrapper .clients__single-item .item__container {
  height: 180px;
  overflow: hidden;
  position: relative;
}

.clients__wrapper .clients__single-item .item__container .container__image {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.clients__wrapper .clients__single-item .item__container .container__content {
  width: 80%;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  text-align: start;
  color: #6a6a6a;
  font-family: "Open Sans";
}

.clients__wrapper .clients__single-item .item__container .container__author {
  position: absolute;
  bottom: 25px;
  right: 0;
  font-size: 18px;
  color: black;
  font-family: "Open Sans";
  font-weight: 700;
}

.clients__wrapper .clients__single-item--first {
  display: block;
}

.clients__wrapper .clients__single-item--sendond {
  display: none;
}

.clients__wrapper .clients__single-item--third {
  display: none;
}

.clients__miniature-images {
  overflow: hidden;
  height: 60px;
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.clients__miniature-images .miniature-images__photo {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  height: 100%;
}

.clients__miniature-images .miniature-images__photo--active {
  border-bottom: 2px solid black;
}

.clients__triangle--black {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-left: 100px solid transparent;
}

.clients__triangle--red {
  width: 0;
  height: 0;
  border-top: 58vh solid transparent;
  border-left: 150px solid #bc2e3a;
  border-bottom: 58vh solid transparent;
  position: absolute;
  top: -8vh;
  left: 0;
  z-index: -1;
}

.contact {
  background-color: black;
  height: 100vh;
  color: white;
}

.footer {
  background-color: green;
  height: 200px;
}
/*# sourceMappingURL=style.css.map */