* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.slogan {
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/slogan_bgc.png");
  background-color: #bb2d39;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slogan .header {
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slogan .header--active {
  height: 200px;
}

.slogan .header__title {
  font-size: 26px;
  line-height: 50px;
  margin-left: 10px;
}

.slogan .header__menu {
  display: none;
  z-index: 0;
}

.slogan .header__menu--active {
  display: block;
  height: 150px;
}

.slogan .header__menu .header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.slogan .header__menu .header__list .header__item {
  height: 14.28%;
  list-style: none;
  text-align: center;
}

.slogan .header__menu .header__list .header__item .header__link {
  text-decoration: none;
  font-family: Lato;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

.slogan .header__menu .header__list .header__item .header__link:hover {
  color: orange;
}

.slogan .header__icons-wrapper {
  position: absolute;
  top: calc((50px - 20px)/2);
  right: 10px;
  font-size: 20px;
}

.slogan .header__icons-wrapper .header__icon {
  margin-left: 5px;
}

.slogan__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 150px;
  width: 300px;
  text-align: center;
  font-size: 35px;
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/slogan_bgc.png");
  background-color: #fafafa;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slogan__button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  color: black;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  font-family: Lato;
}

.slogan__model-figure {
  position: absolute;
  bottom: 130px;
  left: 0;
}

.slogan__model-figure .slogan__model-image {
  height: 100%;
  width: 100%;
}

.about-company {
  height: 100vh;
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.about-company__title {
  font-family: 'Notable', sans-serif;
  color: #494949;
  font-size: 23px;
  margin: 10px 0;
}

.about-company__content {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: #6a6a6a;
}

.about-company__button {
  margin: 10px auto;
  padding: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: #bc2e3a;
  font-family: Lato;
}

.about-company__image-figure {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
}

.about-company__image-figure .about-company__image {
  height: 100%;
  width: 100%;
}

.about-company__triangle {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-bottom: 150px solid black;
  border-right: 50vw solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.company-services {
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 1000px;
  overflow: hidden;
}

.company-services__title {
  font-family: 'Notable', sans-serif;
  color: #494949;
  font-size: 23px;
  letter-spacing: 2px;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.company-services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company-services__wrapper .company-serices__single-service {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  height: 320px;
  overflow: hidden;
}

.company-services__wrapper .company-serices__single-service .company-serices__service-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #bc2e3a;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 28px;
  margin: 15px 0 0 15px;
}

.company-services__wrapper .company-serices__single-service .company-servies__service-title {
  font-family: "Open Sans";
  font-weight: 900;
  color: #6f6f6e;
  font-size: 30px;
  position: absolute;
  top: calc(50px/2);
  left: calc(50px + 15px + 20px);
}

.company-services__wrapper .company-serices__single-service .company-services__service-content {
  font-family: "Open Sans";
  font-size: 17px;
  color: #6a6a6a;
  width: calc(100% - 50px - 15px - 20px);
  margin-left: calc(50px + 15px + 20px);
  margin-bottom: 10px;
}

.company-services__triangle {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-right: 100px solid #bc2e3a;
  border-bottom: 150px solid transparent;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.company-work {
  height: 100vh;
  background-color: white;
  z-index: 1;
  text-align: center;
  position: relative;
}

.company-work__title {
  font-family: 'Notable', sans-serif;
  color: #494949;
  font-size: 23px;
  letter-spacing: 2px;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.company-work__content {
  width: 80%;
  margin: 0 auto 10px auto;
  text-align: start;
  color: #6a6a6a;
  font-size: 17px;
}

.company-work__button {
  border: 1px solid black;
}

.company-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin: 30px 0px 0px 0px;
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.company-work__wrapper .company-work__single-item {
  height: 100%;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  color: white;
  position: relative;
}

.company-work__wrapper .company-work__single-item--idea {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_1.png");
  margin-left: -25px;
}

.company-work__wrapper .company-work__single-item--design {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_2.png");
}

.company-work__wrapper .company-work__single-item--output {
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/work_3.png");
}

.company-work__wrapper .company-work__single-item .company-work_image-title {
  text-transform: uppercase;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.company-work__wrapper .company-work__single-item .company-work_image-title--idea {
  bottom: 137px;
  left: 6px;
}

.company-work__wrapper .company-work__single-item .company-work__image-content {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  width: 60%;
  font-size: 13px;
  font-family: "Open Sans";
  position: absolute;
  top: 45px;
  left: 28px;
  text-align: start;
}

.company-work__wrapper .company-work__single-item .company-work__image-counter {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  font-size: 25px;
}

.company-work__triangle--red {
  height: 0;
  width: 0;
  z-index: -1;
  border-top: 60vh solid transparent;
  border-right: 100px solid #bc2e3a;
  border-bottom: 60vh solid transparent;
  position: absolute;
  top: -10vh;
  right: 0;
}

.company-work__triangle--black {
  height: 0;
  width: 0;
  border-top: 80px solid transparent;
  border-left: 100px solid black;
  border-bottom: 80px solid transparent;
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: -1;
}

.team {
  height: 100vh;
  background-color: #f5f5f5;
  position: relative;
  z-index: 0;
}

.team__title {
  font-family: 'Notable', sans-serif;
  color: #494949;
  font-size: 23px;
  letter-spacing: 2px;
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.team__slider-wrapper {
  height: 400px;
  width: 100%;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.team__slider-wrapper .team__slider__arrow {
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.team__slider-wrapper .team__slider__arrow--left {
  border-top: 30px solid transparent;
  border-right: 35px solid #424240;
  border-bottom: 30px solid transparent;
  left: 10px;
}

.team__slider-wrapper .team__slider__arrow--right {
  border-top: 30px solid transparent;
  border-left: 35px solid #424240;
  border-bottom: 30px solid transparent;
  right: 10px;
}

.team__slider-wrapper .team__slider__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.team__slider-wrapper .team__slider__main .team__slider__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  list-style: none;
  width: 70%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__image {
  height: 220px;
  width: 220px;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper {
  margin: -40px auto 0 auto;
  width: 150px;
  overflow: hidden;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__name-container {
  width: 90%;
  height: 40px;
  color: white;
  line-height: 40px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background-color: black;
  margin: 0px auto;
  z-index: -1;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__name-container .team__slider__name {
  font-family: "Open Sans";
  font-size: 22px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__standing-container {
  background-color: #bc2e3a;
  color: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  margin-top: -5px;
  margin-left: calc(100% - 67.5px - 40px);
  overflow: hidden;
  z-index: 0;
}

.team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__standing-container .team__slider__standing {
  font-size: 12px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.team__slider-wrapper .team__slider__main .team__slider__item--first, .team__slider-wrapper .team__slider__main .team__slider__item--second, .team__slider-wrapper .team__slider__main .team__slider__item--third {
  z-index: 0;
}

.team__slider-wrapper .team__slider__main .team__slider__item--active {
  z-index: 1;
}

.clients {
  height: 100vh;
  background-color: white;
  position: relative;
  z-index: 1;
}

.clients__title {
  font-family: 'Notable', sans-serif;
  color: #494949;
  font-size: 23px;
  letter-spacing: 2px;
  padding-top: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto 10px auto;
}

.clients__wrapper {
  overflow: hidden;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.clients__wrapper .clients__single-item {
  width: 100%;
  height: 400px;
}

.clients__wrapper .clients__single-item .item__image {
  height: 220px;
  width: 220px;
}

.clients__wrapper .clients__single-item .item__container {
  height: 180px;
  overflow: hidden;
  position: relative;
}

.clients__wrapper .clients__single-item .item__container .container__image {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.clients__wrapper .clients__single-item .item__container .container__content {
  width: 80%;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  text-align: start;
  color: #6a6a6a;
  font-family: "Open Sans";
}

.clients__wrapper .clients__single-item .item__container .container__author {
  position: absolute;
  bottom: 25px;
  right: 0;
  font-size: 18px;
  color: black;
  font-family: "Open Sans";
  font-weight: 700;
}

.clients__wrapper .clients__single-item--first {
  display: block;
}

.clients__wrapper .clients__single-item--sendond {
  display: none;
}

.clients__wrapper .clients__single-item--third {
  display: none;
}

.clients__miniature-images {
  overflow: hidden;
  height: 60px;
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.clients__miniature-images .miniature-images__photo {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  height: 100%;
}

.clients__miniature-images .miniature-images__photo--active {
  border-bottom: 2px solid black;
}

.clients__triangle--black {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-left: 100px solid transparent;
}

.clients__triangle--red {
  width: 0;
  height: 0;
  border-top: 58vh solid transparent;
  border-left: 150px solid #bc2e3a;
  border-bottom: 58vh solid transparent;
  position: absolute;
  top: -8vh;
  left: 0;
  z-index: -1;
}

.contact {
  background-color: black;
  height: 100vh;
  color: white;
  background-image: url("https://pathfiinder.github.io/Agency-4-PSD-to-HTML/images/contact__image.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.contact__title {
  font-family: 'Notable', sans-serif;
  color: #9f9f9f;
  font-size: 23px;
  letter-spacing: 2px;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columm;
          flex-direction: columm;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
}

.contact__wrapper .contact__single-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80px;
  position: relative;
}

.contact__wrapper .contact__single-item .single-item__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.contact__wrapper .contact__single-item .single-item__title {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 30%;
}

.contact__wrapper .contact__single-item .single-item__content {
  width: 60%;
  position: absolute;
  top: 35px;
  left: 30%;
  font-size: 17px;
  font-weight: 400;
}

.contact .footer {
  overflow: hidden;
  height: 120px;
  margin-top: 80px;
}

.contact .footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px auto 5px auto;
  width: 60%;
  position: relative;
  height: 25px;
  padding-top: 10px;
}

.contact .footer .footer__list:before {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -25%;
}

.contact .footer .footer__list .footer__item {
  list-style: none;
  -ms-flex-preferred-size: calc(100%/7);
      flex-basis: calc(100%/7);
}

.contact .footer .footer__horizontal-line {
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.contact .footer .footer__content {
  margin: 10px auto 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}

.contact__triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 90px solid #bc2e3a;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: -1;
}

@media (min-width: 360px) {
  .about-company__title {
    margin: 20px auto;
  }
  .about-company__content {
    margin: 20px auto;
  }
  .about-company__button {
    margin-top: 20px;
  }
  .company-services {
    height: 900px;
  }
  .company-work__content {
    margin-top: 30px;
  }
  .company-work__wrapper {
    height: 200px;
  }
  .company-work__wrapper .company-work__single-item .company-work_image-title--idea {
    bottom: 155px;
  }
  .company-work__wrapper .company-work__single-item .company-work__image-counter {
    right: 25px;
  }
  .team__title {
    padding-top: 60px;
  }
  .team__slider-wrapper {
    margin-top: 50px;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item {
    height: 350px;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__image {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 568px) {
  .slogan__title {
    bottom: 0px;
  }
  .slogan__model-figure {
    height: 180px;
    width: 180px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-company__title {
    margin: 5px auto;
  }
  .about-company__content {
    margin: 10px auto;
    font-size: 16px;
  }
  .about-company__button {
    margin: 10px auto;
  }
  .about-company__image-figure {
    height: 100px;
    width: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about-company__triangle {
    border-left: 120px solid transparent;
    border-bottom: 80px solid black;
    border-right: 120px solid transparent;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .company-services {
    height: 780px;
  }
  .company-work__title {
    padding-top: 10px;
  }
  .company-work__content {
    margin-top: 10px;
    font-size: 16px;
  }
  .company-work__wrapper {
    height: 80px;
    margin: 10px 0px 0px 0px;
  }
  .company-work__wrapper .company-work__single-item {
    background-size: auto;
  }
  .company-work__wrapper .company-work__single-item--idea {
    margin-left: 0px;
  }
  .company-work__wrapper .company-work__single-item .company-work_image-title--idea {
    bottom: 40px;
    left: 15px;
  }
  .company-work__wrapper .company-work__single-item .company-work__image-content {
    width: 100%;
  }
  .company-work__wrapper .company-work__single-item .company-work__image-counter {
    right: 25px;
  }
  .team__title {
    padding-top: 20px;
  }
  .team__slider-wrapper {
    margin-top: 0px;
    height: 80%;
  }
  .team__slider-wrapper .team__slider__main {
    margin-top: 10px;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item {
    height: 90%;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__image {
    height: 70%;
    width: 60%;
  }
  .clients__title {
    padding-top: 10px;
  }
  .clients__wrapper {
    height: 200px;
  }
  .clients__wrapper .clients__single-item {
    height: 200px;
    position: relative;
  }
  .clients__wrapper .clients__single-item .item__image {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .clients__wrapper .clients__single-item .item__container {
    height: 200px;
  }
  .clients__wrapper .clients__single-item .item__container .container__image {
    height: 20px;
    width: 20px;
    top: 30%;
    left: 35%;
  }
  .clients__wrapper .clients__single-item .item__container .container__content {
    width: 60%;
    top: calc(30% + 20px);
  }
  .clients__wrapper .clients__single-item .item__container .container__author {
    bottom: 25px;
    right: 20px;
  }
  .clients__miniature-images {
    width: 40%;
  }
  .contact__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
    height: 100px;
  }
  .contact .contact__single-item {
    height: 100%;
    overflow: hidden;
  }
  .contact .contact__single-item .single-item__icon {
    left: 5px;
  }
  .contact .contact__single-item .single-item__content {
    font-size: 13.5px;
  }
  .contact .contact__single-item:nth-of-type(1) {
    margin-left: 20px;
  }
  .contact .footer {
    margin-top: 10px;
  }
}

@media (min-width: 667px) {
  .slogan__model-figure {
    height: 220px;
    width: 220px;
  }
}

@media (min-width: 731px) {
  .about-company, .company-work {
    height: 80vh;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .slogan {
    height: 716px;
  }
  .slogan .header__title {
    font-size: 40px;
  }
  .slogan .header__menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .slogan .header__menu .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
  }
  .slogan .header__menu .header__list .header__item {
    padding-right: 15px;
    font-size: 16px;
  }
  .slogan .header__icons-wrapper {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .slogan .header__icons-wrapper .header__icon--search {
    display: none;
  }
  .slogan__title {
    width: 530px;
    height: 450px;
    font-size: 90px;
    bottom: 50%;
    left: 50px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .slogan__model-figure {
    bottom: 50px;
    height: 500px;
    width: 400px;
    -webkit-transform: none;
            transform: none;
    top: 10%;
    left: 55%;
  }
  .slogan__button {
    font-size: 20px;
    bottom: 180px;
    -webkit-transform: none;
            transform: none;
    left: calc(50px + 265px - 48px);
  }
  .about-company {
    height: 428px;
  }
  .about-company__title {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    text-transform: none;
    z-index: 1;
    letter-spacing: 2px;
  }
  .about-company__content {
    width: 350px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: calc(50px + 39px);
    left: 50px;
    z-index: 1;
  }
  .about-company__button {
    font-size: 20px;
    position: absolute;
    top: calc(50px + 39px + 100px + 10px);
    left: 50px;
  }
  .about-company__image-figure {
    width: 50%;
    height: 250px;
    bottom: calc(428px - 250px - 50px);
    left: 75%;
  }
  .about-company__triangle {
    border-bottom: 0px;
    border-left: 50vw solid transparent;
    border-top: 500px solid black;
    border-right: 50vw solid transparent;
    left: 30%;
    bottom: -72px;
    -webkit-transform: none;
            transform: none;
  }
  .company-services {
    height: 650px;
  }
  .company-services__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .company-services__wrapper {
    height: 450px;
    width: 90%;
    margin: 50px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .company-services__wrapper .company-serices__single-service {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    height: 50%;
  }
  .company-services__wrapper .company-serices__single-service .company-servies__service-title {
    font-size: 22px;
  }
  .company-services__wrapper .company-serices__single-service .company-services__service-content {
    font-size: 16px;
  }
  .company-services__triangle {
    border-top: 150px solid transparent;
    border-right: 0px;
    border-left: 100px solid #bc2e3a;
    border-bottom: 150px solid transparent;
    right: calc(100% - 50px);
  }
  .company-work {
    height: 450px;
  }
  .company-work__title {
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 50px;
  }
  .company-work__content {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 30%;
    height: 133px;
  }
  .company-work__button {
    position: absolute;
    top: calc(30px + 50px + 133px + 10px);
    left: 50px;
    border: none;
  }
  .company-work__wrapper {
    margin: 0;
    position: absolute;
    top: 85px;
    left: calc(30% + 50px + 20px);
    width: 70%;
    height: 200px;
  }
  .company-work__wrapper .company-work__single-item--idea {
    margin-left: 36px;
  }
  .company-work__wrapper .company-work__single-item .company-work_image-title {
    font-size: 25px;
  }
  .company-work__wrapper .company-work__single-item .company-work__image-counter {
    font-size: 30px;
    right: 10px;
  }
  .company-work__wrapper .company-work__single-item .company-work__image-content {
    top: 70%;
    left: 20px;
    width: 120px;
  }
  .company-work__wrapper .company-work__single-item .company-work_image-title--idea {
    bottom: 60px;
    left: 5px;
  }
  .company-work__triangle--red {
    border-top: 325px solid transparent;
    border-right: 250px solid #bc2e3a;
    border-bottom: 325px solid transparent;
    top: -100px;
    right: 0;
  }
  .team {
    height: 600px;
  }
  .team__title {
    padding-top: 50px;
    font-size: 30px;
    letter-spacing: 3px;
  }
  .team__slider-wrapper {
    margin-top: 0px;
    height: 500px;
  }
  .team__slider-wrapper .team__slider__main {
    height: 480px;
    width: 80%;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item {
    height: 432px;
    margin-top: 24px;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin-right: 10px;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item--third {
    margin-right: 0;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__image {
    height: 220px;
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__name-container {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__name-container--active {
    background-color: black;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__standing-container {
    display: none;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item .team__slider__wrapper .team__slider__standing-container--active {
    display: block;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item--active {
    border: 1px solid black;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .team__slider-wrapper .team__slider__main .team__slider__item--active .team__slider__image--active {
    height: 280px;
    width: 280px;
  }
  .clients {
    height: 560px;
  }
  .clients__title {
    position: absolute;
    top: 80px;
    left: 150px;
    width: auto;
    letter-spacing: 2px;
    font-size: 30px;
  }
  .clients__wrapper {
    height: 450px;
  }
  .clients__wrapper .clients__single-item {
    height: 450px;
    margin-top: 80px;
  }
  .clients__wrapper .clients__single-item .item__image {
    height: 250px;
    width: 250px;
  }
  .clients__wrapper .clients__single-item .item__container {
    height: 350px;
  }
  .clients__wrapper .clients__single-item .item__container .container__image {
    height: 40px;
    width: 40px;
    top: 30%;
    left: 35%;
  }
  .clients__wrapper .clients__single-item .item__container .container__content {
    font-size: 20px;
    width: 55%;
    right: 2%;
    height: 100px;
  }
  .clients__wrapper .clients__single-item .item__container .container__author {
    bottom: 25px;
    width: 220px;
    height: 20px;
    right: 20px;
    top: calc(30% + 20px + 100px + 22px);
  }
  .clients__miniature-images {
    width: 30%;
    height: 80px;
  }
  .clients__triangle--black {
    border-top: 200px solid black;
    border-left: 200px solid transparent;
  }
  .clients__triangle--red {
    border-top: 330px solid transparent;
    border-left: 150px solid #bc2e3a;
    border-bottom: 330px solid transparent;
    top: -50px;
  }
  .contact {
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */