.team
    height: 100vh
    background-color: #f5f5f5
    position: relative
    z-index: 0
    &__title
        font-family: 'Notable', sans-serif
        color: #494949
        font-size: 23px
        letter-spacing: 2px
        padding-top: 50px
        margin-bottom: 10px
        text-align: center
    &__slider-wrapper
        height: 400px
        width: 100%
        margin-top: 30px
        position: relative
        overflow: hidden
        .team__arrow
            width: 0px
            height: 0px
            background-color: transparent
            position: absolute
            top: 50%
            transform: translateY(-50%)
            &--left
                border-top: 30px solid transparent
                border-right: 35px solid #424240
                border-bottom: 30px solid transparent
                left: 10px
            &--right
                border-top: 30px solid transparent
                border-left: 35px solid #424240
                border-bottom: 30px solid transparent
                right: 10px
        .team__main-slider
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            height: 100%
            width: 80%
            overflow: hidden
            margin: 0 auto
            .team__item-slider
                flex-basis: 100%
                list-style: none
                width: 70%
                height: 300px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                overflow: hidden
                text-align: center
                .team__image-slider
                    height: 220px
                    width: 220px
                .team__wrapper-slider
                    margin: -40px auto 0 auto
                    width: 150px
                    overflow: hidden
                    .team__name-container   
                        width: 90%
                        height: 40px
                        color: white
                        line-height: 40px
                        transform: skew(20deg)
                        background-color: black
                        margin: 0px auto
                        z-index: -1
                        .team__name
                            font-family: "Open Sans"
                            font-size: 22px
                            transform: skew(-20deg)
                    .team__standing-container
                        background-color: #bc2e3a
                        color: white
                        width: 80px
                        height: 30px
                        line-height: 30px
                        transform: skew(20deg)
                        margin-top: -5px
                        margin-left: calc(100% - 67.5px - 40px)
                        overflow: hidden
                        z-index: 0
                        .team__standing
                            font-size: 12px
                            transform: skew(-20deg)
            .team__item-slider--first,.team__item-slider--second,.team__item-slider--third    
                z-index: 0
            .team__item-slider--active
                z-index: 1

