.company-work
    height: 100vh
    background-color: white
    z-index: 0
    text-align: center
    &__title
        font-family: "Peace Sans"
        font-weight: 400
        color: #494949
        font-size: 28px
        padding-top: 30px
        margin-bottom: 10px
        text-align: center
    &__content
        width: 80%
        margin: 0 auto
        text-align: start
        color: #6a6a6a
        font-size: 17px
    &__wrapper
        display: flex
        flex-direction: row
        flex-wrap: no-wrap
        background-color: red
        margin: 30px 0px 0px 0px
        height: 180px
        .company-work__single-item
            flex-basis: 33.33%
